body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 auto;
    background-color: aliceblue;
}
header{
    background-color: #ffffff;
    height: 70px;
    text-align: center;
    position: fixed;
    width: 100%;
}
.logo{
    display: inline-block;
    margin-right: 85px;
    font-size: 40px;
    font-weight: 800;
}
.nav{
    display: inline-block;
    margin-right: 115px;
    
}
.social{
    display: inline-block;
}
li{
    display: inline;
    color: #000000;
    padding: 15px;
}
a{
    text-decoration: none;
    color: #000000;
    
}
a:hover{
    color: salmon;
}
.wrapper{
    background-image:url("./img/cover3a.jpg") ;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.cover-text{
    font-size: 40px;
    text-align: center;
    color: #000000;
    padding-top: 167px;
    display: inline-block;
}
.cover-btn{
    width: 150px;
    height: 70px;
    background-color: salmon;
    color: #ffffff;
    transition: 0.4s;
    border: none;
    display: inline-block;
}
.cover-btn:hover{
    background-color: transparent;
    border: 1px solid salmon;
    cursor: pointer;
}
.frist-btn{
    text-align: center;
    padding-top:50px ;
    display: inline-block;
}
.cover-text1{
    font-size: 19px;
    text-align: center;
    color: #000000;
    padding-top: 29px;
    display: inline-block;
}
.icon {
    display: none;
    color: #000000;
}
.cover-wrapper{
    text-align: center;
    max-width: 100%;
    width: 660px;
    display: inline-block;
}
.tri-wrapper{
    text-align: center;
    max-width: 100%;
    margin-top: -50px;
}
#exoA{
    font-size: 16px;
    color: #ffffff;
}
#exoA:hover{
    text-decoration: underline;
}

.solo-wrapper{
    background-image: url("../img/island.jpg");
    display: inline-block;
    height: 400px;
    width: 350px;
    margin-left: 20px;
    margin-top: -71px;
    transition: all 1s ease;
    background-repeat: no-repeat;
}
.solo-wrapper:hover{
    cursor: pointer;
   
}
.abc:hover{
    transform: scale(1.1);
    margin-top: -30px;
}


#second{
    background-image: url("../img/trees.jpg");
}
#third{
    background-image: url("../img/turkey.jpg");
}

.abc{
        font-size: 30px;
        color: white;
        padding-top: 279px;
        padding-bottom: 134px;
        vertical-align: top;
        display: inline-block;

}
.third-wrapper{
    text-align: center;
    max-width: 100%;
    padding-top: 150px;
}
.third-solo-wrapper{
    display: inline-block;
    text-align: center;
    padding-right: 60px;
   
}
.left-img{
    display: inline-block;
    text-align: left;
    vertical-align: top;
    padding-right: 8px;
}
.right-txt{
    display: inline-block;
    text-align: left;
    width: 240px;
    
}
.third-heading1{
    display: inline-block;
    font-size: 19px;
    font-weight: 500;
}
.third-text1 {
    display: inline-block;
    line-height: 24px;
    font-size: x-small;
    padding-top: 15px;
}
.third-text2{
    display: inline-block;
    padding-top: 10px;
    color: salmon;
    cursor: pointer;
}
.third-text2:hover{
    text-decoration: underline;
}
.testimonial-wrapper{
    text-align: center;
    max-width: 100%;
    padding-top: 150px;
}
.testimonial-heading{
    display: inline-block;
    font-size: x-large;
    font-weight: bolder;
    padding-bottom: 75px;
}
.testimonial-picture{
    display: inline-block;
    

}
.text-background-testimonial{
    width: 500px;
    height: 375px;
    background-color: #ffffff;
    display: inline-block;
    vertical-align: top;
    margin-left: -100px;
    text-align: left;
    margin-top: 100px;
}
.testimonial-text{
    padding: 60px 60px 20px 60px;
    font-size: 18px;
    line-height: 31px;
}
.testimonial-text2{
    font-size: 16px;
    padding-left: 60px;
    font-style: italic;
}
.testimonial-name{
    color: salmon;
    font-style: normal;
    cursor: pointer;
}
.destinations-wrapper{
    text-align: center;
    display: inline-block;
    margin-top: 150px;
    background-color: #ffffff;
    max-width: 100%;
    width: 100%;
   
}
.destinations-wrapper-heading{
    display: inline-block;
    font-size: 34px;
    padding-top: 120px;
}
.destinations-wrapper-text{
    display: inline-block;
    padding-top: 15px;
    font-size: medium;
}
.destination-imgs-wrapper{
    padding-top: 100px;
    display: inline-block;
    text-align: center;
    padding-bottom: 80px;
}
.destinations-solo-wrapper{
    display: inline-block;
    margin: 10px;
    overflow: hidden;
    position: relative;
}
.destinations-solo-wrapper img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
    overflow: hidden;
}
.destinations-solo-wrapper:hover img{
    transform: scale(1.1);
    opacity: 0.8;
}
.destinations-cityFare{
    display: inline-block;
    position: absolute;
    color: salmon;
    margin-left: -35px;
    margin-top: -83px;
    text-align: center;
    font-weight: lighter;
    font-size: 22px;

}
.destinations-cityName{
    display: inline-block;
    position: absolute;
    color: #ffffff;
    margin-left: -74px;
    margin-top: -50px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
.mid-cover{
    background-image: url("../img/mid-cover.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}
.midcover-text{
    text-align: center;
    font-size: 36px;
    color: #ffffff;
    text-shadow: #ffffff;
    vertical-align: middle;
    padding-top: 300px;
}
#third-solo-wrapper{
    padding-top: 80px;
}
.service-wrapper{
    background-color: aliceblue;
    padding-bottom: 100px;
}
.blog-wrapper{
    text-align: center;
    display: inline-block;
}
.blog-img-wrapper{
    text-align: center;
    display: inline-block;
}
.blog-heading{
    color: salmon;
    padding-top: 23px;
    padding-bottom: 10px;
    font-size: 20px;
}

.blog-solo-wrapper{
    display: inline-block;
    width: 450px;
    max-width: 100%;
    text-align: left;
    padding-top: 70px;
    vertical-align: top;
    padding-right: 15px;
    padding-left: 15px;
}
.blog-author li{
    font-size: 14px;
    color: #b3b3b3;
    padding: 0;
    margin: 0;
}
.blog-author ul{
    padding: 0;
    margin: 0;
    
}
.blog-author{
    padding-bottom: 24px;
}
#update{
    color: salmon;
    cursor: pointer;
}
.blog-btn{
    width: 300px;
    height: 60px;
    text-align: center;
    border: 1px solid salmon;
    color: salmon;
    background-color: transparent;
    font-size: 20px;
    font-family: serif;
    
}
#blogbtn{
    margin-top: 50px;
}
.blog-btn:hover{
    background-color: salmon;
    color: #ffffff;
    cursor: pointer;
    transition: 0.6s ease;
}
.last-div-wrapper{
    text-align: center;
    display: inline-block;
    padding-top: 60px;
}
#last-heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;
}
#lastbtn{
    width: 180px;
    background-color: salmon;
    color: #ffffff;
}
#lastbtn:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: salmon;
}
hr{
    color: lightgray;
    margin-top: 130px;
}
footer{
    background-color: #333333;
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin-top: 90px;
    text-align: center;
}
.footer-solo-wrapper-1{
    display: inline-block;
    width: 350px;
    text-align: left;
    max-width: 100%;
    vertical-align: top;
    padding-top: 100px;
    padding-right: 20px;
    padding-left: 5px;
}
.footer-solo-wrapper-heading{
    display: inline-block;
    color: #ffffff;
    font-size: large;
}
.footer-solo-wrapper-text{
    color: #737373;
    padding-top: 30px;
    font-size: medium;
}
.footer-solo-wrapper-2{
    display: inline-block;
    padding-top: 100px;
    width: 350px;
    text-align: left;
    max-width: 100%;
    vertical-align: top;
    padding-left: 20px;
    padding-right: 5px;
}
.footer-solo-wrapper-3{
    display: inline-block;
    padding-top: 100px;
    width: 350px;
    text-align: left;
    max-width: 100%;
    vertical-align: top;
    padding-right: 20px;
    padding-left: 5px;
}
.footer-solo-wrapper-2-text1{
    display: inline-block;
    color: #737373;
    line-height: 40px;
    margin-top: 6px;
}
.footer-solo-wrapper-2-text2 a{
    color: #737373;
}
.footer-solo-wrapper-2-text2 a:hover{
    color: #ffffff;
}
.footer-solo-wrapper-2-text1 a:hover{
    color: #ffffff;
}
.footer-solo-wrapper-2-text1 > ul{
    padding: 0;
    color: #737373;
}
.footer-solo-wrapper-2-text1 a{
    color: #737373;
}
.footer-solo-wrapper-2-text2{
    display: inline-block;
    color: #737373;
    margin-left: -20px;
    line-height: 40px;
    margin-top: 6px;
    
}
.footer-solo-wrapper-3-input{
    display: inline-block;
}
.footer-solo-wrapper-3-input input{
    background-color: transparent;
    width: 225px;
    border: 1px solid #737373;
    height: 40px;
    display: inline-block;
    padding-left: 20px;
}
.footer-solo-wrapper-3-btn{
    display: inline-block;
    margin-left: -7px;
}
#finallastbtn{
    max-width: 100%;
    background-color: salmon;
    color: #ffffff;
    width: 100px;
    height: 40px;
    display: inline-block;
    padding-top: 0;
}
.footer-social-icons{
    color: #999999;
    padding-top: 200px;
    max-width: 100%;
    
}
.footer-social-icons i:hover{
    color: #ffffff;
    cursor: pointer;
}
.copyright-text{
    padding-top: 80px;
    padding-bottom: 80px;
    color: #999999;
    max-width: 100%;
}
@media screen and (max-width: 600px) {
    .logo{
        float: left;
        margin-left: 50px;
        font-size: 25px;
    }
    .nav{
        display: none;
    }
    .social{
        display: none;
    }
    .icon{
        display: block;
        padding-top: 25px;
        margin-left: 406px;
    }
  
    .solo-wrapper{
        margin-top: 50px;
    }
    .text-background-testimonial{
        margin: 0px;
    }    
}